header {
  padding: 0 1em;
}

.l-box {
  padding: 1em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pure-menu {
  width: auto;

  .pure-menu-heading {
    padding-left: 0px;
  }
}

main {
  clear: both;

  .login {
    form {
      display: inline;
    }
    width: 350px;
    margin: auto;
    text-align: center;
  }

  .signIn {
    padding: .5em 1em;
  }

  #login-buttons a, .accounts-dialog a {
    text-decoration: none;
  }
}

.action:hover {
  cursor: pointer;
}

.pure-table {
  th, td {
    text-align: right;
  }
}

.timetracks {
  td.from, td.to {
    min-width: 130px;
  }
  .actions {
    min-width: 40px;
  }
  .time-fields {
    float: left;
  }
  .switch-toggle {
    float: left;
    margin: 8px 0px 0px 16px;
    min-width: 300px;
  }
  .pure-table {
    clear: both;
  }
  .switch-toggle.switch-candy, .switch-light.switch-candy > span {
    background-color: transparent;
  }
  .switch-light.switch-candy span span, .switch-light.switch-candy input:checked ~ span span:first-child, .switch-toggle.switch-candy label {
    color: #333;
    text-shadow: none;
  }
  .switch-candy a {
    border: 1px solid #999;
    background-color: #ddd;
  }
}

/* Make Select2 look like a Pure.css input */
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 3px;
}

.select2-container .select2-search--inline .select2-search__field {
  margin: 0px !important;
  margin-top: 5px !important;
  padding: 4px 0px 3px 0px !important;
  visibility: hidden;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border: 1px solid #CCC;
  box-shadow: 0px 1px 3px #DDD inset;
  border-radius: 4px;
  min-height: 35px;
}

.select2-container--default .select2-selection--multiple:focus {
  border-color: #129FEA;
}

.theme-box {
  border-radius: 4px 4px 0 0;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
  //  margin: 0 -15px 15px;
  padding: 15px;
  position: relative;

  .header {
    margin: 5px 0px;
  }
}

.panel {
  float: left;
  margin-right: 1%;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  border-color: #ddd;

  .heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
  }

  .body {
    padding: 15px;
  }
}

.stats {
  .panel {
    width: 48%;
    .body {
      padding: 1px;
    }
  }
  .pure-table {
    width: 100%;
    border: none;
    thead {
      background-color: transparent;
    }
  }
}


